<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>crud solicitudes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/card.css">
    <link rel="stylesheet" href="./css/navBar.css">
</head>

<body>

    <nav class="nav_bar">
        <div class="logo_space">
            <a href="#">
                <img src="./img/logo.png" alt="evendi" class="logo_nav">
            </a>
        </div>
        <div class="box">
            <form class="d-flex buscador" role="search">
                <input class="input_search" type="search" placeholder="Buscar...">
                <button class="btn_serch" type="submit">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.11111 15.2222C12.0385 15.2222 15.2222 12.0385 15.2222 8.11111C15.2222 4.18375 12.0385 1 8.11111 1C4.18375 1 1 4.18375 1 8.11111C1 12.0385 4.18375 15.2222 8.11111 15.2222Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17 17L13.1333 13.1333" stroke="white" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </form>

            <svg class="menu_icon_search" hidden width="26" height="26" viewBox="0 0 18 18" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.11111 15.2222C12.0385 15.2222 15.2222 12.0385 15.2222 8.11111C15.2222 4.18375 12.0385 1 8.11111 1C4.18375 1 1 4.18375 1 8.11111C1 12.0385 4.18375 15.2222 8.11111 15.2222Z"
                    stroke="#F130D5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M17 17L13.1333 13.1333" stroke="#F130D5" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>

            <input type="checkbox" name="" id="check">
            <label for="check" class="check-btn">
                <i class="menu_icon">
                    <svg width="30" height="23" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 6.99976H17" stroke="#F130D5" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M1 1.6665H17" stroke="#F130D5" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M1 12.3333H17" stroke="#F130D5" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </i>
            </label>
            <div class="menu">
                <ul>
                    <li>
                        <a href="#">Leads</a>
                    </li>
                    <li>
                        <a href="#">Administración</a>
                    </li>
                </ul>
            </div>

            <div class="user">
                <a href="#" class="user_name">Gina Gómez</a>
                <a href="#" title="Gina Gómez">
                    <img src="./img/user_image.png" alt="..." class="perfil">
                </a>
            </div>
        </div>
    </nav>

    
    
    <section class="crud">
        <nav class="card m_t">
            <div class="item mr">
                <h3>Fecha</h3>
                <p>12/04/2022</p>
            </div>
            <div class="item mr">
                <h3>Nombre</h3>
                <p>Maria Laura</p>
            </div>
            <div class="item mr">
                <h3>Apellido</h3>
                <p>Saldarriaga Gómez</p>
            </div>
            <div class="item mr">
                <h3>Email</h3>
                <p>marialaurazb@gmail.com</p>
            </div>
            <div class="item mr">
                <h3>Contraseña</h3>
                <p>1258s6d82s</p>
            </div>
            <div class="btn_admin">

                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5H3H19" stroke="#C4C4C4" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M6 5V3C6 2.46957 6.21071 1.96086 6.58579 1.58579C6.96086 1.21071 7.46957 1 8 1H12C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3V5M17 5V19C17 19.5304 16.7893 20.0391 16.4142 20.4142C16.0391 20.7893 15.5304 21 15 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5H17Z"
                        stroke="#C4C4C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>



                <input type="checkbox" name="" id="switch">
                <label for="switch" class="lbl"></label>
            </div>
        </nav>
    </section>

    <section class="crud">
        <nav class="card m_t">
            <div class="item mr">
                <h3>Fecha</h3>
                <p>13/04/2022</p>
            </div>
            <div class="item mr">
                <h3>Nombre</h3>
                <p>Juan David</p>
            </div>
            <div class="item mr">
                <h3>Apellido</h3>
                <p>Segura Zabala</p>
            </div>
            <div class="item mr">
                <h3>Email</h3>
                <p>juanda.segura2005@gmail.com</p>
            </div>
            <div class="item mr">
                <h3>Contraseña</h3>
                <p>1258s7d82s</p>
            </div>
            <div class="btn_admin">

                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 5H3H19" stroke="#C4C4C4" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path
                        d="M6 5V3C6 2.46957 6.21071 1.96086 6.58579 1.58579C6.96086 1.21071 7.46957 1 8 1H12C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3V5M17 5V19C17 19.5304 16.7893 20.0391 16.4142 20.4142C16.0391 20.7893 15.5304 21 15 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5H17Z"
                        stroke="#C4C4C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>



                <input type="checkbox" name="" id="switch">
                <label for="switch" class="lbl"></label>
            </div>
        </nav>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>