<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="./css/login.css">
        <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    </head>

<body>

    <nav>
        <form action="" class="login">
            <img src="./img/logo.png" alt="" class="logo">
            <div id="email">
                <input type="text" class="input" placeholder="Correo electrónico">
            </div>
            <div id="password">
                <input type="password" placeholder="Contraseña">
                <svg class="eye" width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.0752 5.74885C1.0752 5.74885 3.44766 1.00391 7.59949 1.00391C11.7513 1.00391 14.1238 5.74885 14.1238 5.74885C14.1238 5.74885 11.7513 10.4938 7.59949 10.4938C3.44766 10.4938 1.0752 5.74885 1.0752 5.74885Z"
                        stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M7.59918 7.52819C8.58189 7.52819 9.37853 6.73154 9.37853 5.74883C9.37853 4.76613 8.58189 3.96948 7.59918 3.96948C6.61647 3.96948 5.81982 4.76613 5.81982 5.74883C5.81982 6.73154 6.61647 7.52819 7.59918 7.52819Z"
                        stroke="#AEAEAE" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <input type="submit" id="btn_login" value="Iniciar sesión">
            <div class="links">
                <a href="">Registrarse</a>
                <span> | </span>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </nav>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>
</head>

<body>

</body>

</html>